<div class="root">
    <div class="header">
        <div class="go-back">

        </div>
        <div class="header-title">
            <span> HOME </span>
        </div>
    </div>
    <div class="content">
        <div class="main-box white margin">
            <div routerLink="/Home" class="go-back">

            </div>
            <div class="city-name-div">
                <span>{{currentWeather?.name}}</span>
            </div>
            <div class="date margin">
                <span>{{currentWeather?.dt_txt}}</span>
            </div>
            <div class="title">
                <span>Mian</span>
            </div>
            <div class="box margin">
                <div class="temp-div inline left">
                    <span class="temp-span">Temp: {{main?.temp - 272.15 | number:0}}°</span>
                </div>
                <div class="inline right">
                    <span class="temp-span">Max/Min: {{main?.temp_max - 272.15 | number:0}}°/{{main?.temp_min - 272.15 | number:0}}°</span>
                </div>
            </div>
            <div class="box margin">
                <div class="temp-div inline left">
                    <span class="temp-span">Pressure: {{main?.pressure}}</span>
                </div>
                <div class="inline right">
                    <span class="temp-span">Humidity: {{main?.humidity}}</span>
                </div>
            </div>
            <div class="bottom-line margin">

            </div>
        </div>

        <div class="main-box white margin">
            <div class="title">
                <span>Weather</span>
            </div>
            <div class="box margin">
                <div class="icon" [ngStyle]="{'background-image': getIcon(weatherObj.icon)}">

                </div>
            </div>
            <div class="box margin">
                <div class="temp-div inline">
                    <span class="temp-span">{{weatherObj?.description}}</span>
                </div>
            </div>
            <div class="bottom-line margin">

            </div>
        </div>

        <div class="main-box white margin">
            <div class="title">
                <span>Wind</span>
            </div>
            <div class="box margin">
                <div class="temp-div inline left">
                    <span class="temp-span">Speed: {{wind?.speed}}kmh</span>
                </div>
                <div class="inline right">
                    <span class="temp-span">Deg: {{wind?.deg}}°</span>
                </div>
            </div>
        </div>
    </div>
</div>
