<div class="button-root white" (click)="changeLoc(city.name + ',' + city.sys.country)">
    <div class="info">
        <div class="city-name-div inline left">
            <span class="city-name">{{city?.name}}</span>
        </div>
        <div class="temp-comp right">
            <div class="main-img inline" [ngStyle]="{'background-image': getIcon(city?.weather[0]?.icon)}">
            </div>
            <div class="inline temp-div">
                <span class="temp">{{round(city?.main.temp - 273.15)}}°</span>
            </div>
        </div>
    </div>
</div>
