<div class="root">
    <div class="header">
        <div class="menu-button" (click)="displayMenu()">

        </div>
        <div class="header-title">
            <span> LOCATIONS </span>
        </div>
    </div>
    <div class="content">
        <div routerLink="/details/0" class="main-info white">
            <div class="more-details">

            </div>
            <div class="city-name-div">
                <span>{{currentWeather?.name}}</span>
            </div>
            <div class="date margin">
                <span>{{getCurrentDate()}}</span>
            </div>
            <div class="temp-comp">
                <div class="main-img inline" [ngStyle]="{'background-image': getIcon(weatherObj?.icon)}">
                </div>
                <div class="inline">
                    <span class="temp">{{round(main?.temp - 273.15)}}°</span>
                </div>
            </div>
            <div class="temp-div">
                <span class="temp-span">{{main?.temp_max - 273.15 | number:0}}° / {{main?.temp_min - 273.15 | number:0}}°</span>
            </div>
            <div class="temp-div">
                <span class="description">{{weatherObj?.description}}</span>
            </div>
            <div class="bottom-line margin">

            </div>
        </div>
        <div class="day-list">
            <div *ngFor="let day of forecast; let i = index">
                <app-list-item routerLink="/details/{{i+1}}" [day]="day" ></app-list-item>
            </div>
        </div>
        <app-menu (locChanged)="onLocChanged($event)" [display]="menuDisplay"></app-menu>
    </div>
</div>
